@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


* {
    box-sizing:border-box
  }
  
  body{
    margin:0px;
    background-color: #292f33;
  }
  
  .header{
      height: 80px;
      margin: 0px;
      padding: 0px;
      background-color: black;
  }
  
  .title_bar{
      position:absolute;
      text-align: center;
      background-color: black;
      font-size: 28px;
      color:white;
      font-family: 'Playfair Display', serif;
      margin-bottom: 22px;
      margin-top: 22px;
      padding-left: 40px;
  }
  
  .nav{
      display: inline;
      height:40px;
      background-color: black;
  }