@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing:border-box
  }
  
  body{
    margin:0px;
    background-color: #292f33;
  }
  
  .header{
      height: 80px;
      margin: 0px;
      padding: 0px;
      background-color: black;
  }
  
  .title_bar{
      text-align: center;
      background-color: black;
      font-size: 32px;
      color:white;
      font-family: 'Playfair Display', sans-serif;
      padding-top: 20px;
  }
  
  .nav{
      display: inline;
      height:40px;
      background-color: black;
  }

  .table{
      padding:40px;
  }

  .row {
      padding: 1px;
  }

  .cell{
      padding: 1px;
  }